<h1>Welcome to Match Mentor%></h1>
<p>
  You have successfully signed up to Mentor Match!<br>
</p>
<p>
  To login to the site, just follow this link: <%= @url %>.
</p>
<p>Thanks for joining and have a great day!</p>
