<div class="footer">
  <div class="row">
    <div class="col-4 about-us">
      <h3>ABOUT US</h3>
      <p>MentorMatch aims to give everyone an <strong>equal opportunity to pursue a career they love early on</strong>by connecting students with mentors that can help them get there</p>
    </div>
    <div class="col-4 site">
      <h3>SITE</h3>
      <div class="links">
        <ul>
          <li><a href="#">Team</a></li>
          <li><a href="#">About</a></li>
          <li><a href="#">Support</a></li>
          <li><a href="#">Private Policy</a></li>
          <a href="#">Careers</a>
        </ul>
      </div>
    </div>
    <div class="col-4 connect">
      <h3>CONNECT</h3>
      <p>Stay in the loop by following us on your social media of choice or write to us directly!</p>
      <div class="links">
        <a href="#">
          <i class="fab fa-facebook"></i>
        </a>
        <a href="#">
          <i class="fab fa-github"></i>
        </a>
        <a href="#">
          <i class="fab fa-twitter"></i>
        </a>
        <a href="#">
          <i class="fab fa-instagram"></i>
          <p>support@mentormatch.com</p>
        </a>
      </div>
    </div>
  </div>
</div>
