

<div class="success-background success-info">
  <div class="success-container">

    <h1 class="main-success-header">You Have Successfully Created an Account!</h1>
    <%= image_tag "happymentee1", class: "happy-mentee" %>


     <h3> Next, complete your profile to match with someone! </h3>
 <%= link_to "LET'S GET STARTED", complete_profile_url, class: "btn btn-primary btn-margin"  %>

    <%= link_to "Back to Home", root_url, class: "back-home"  %>
  </div>
</div>


