<!DOCTYPE html>
<html>
<head>
  <title></title>
</head>
<body>


 <!-- Hero Banner -->
 <div class="main-banner">
  <div class="container">
    <div class="row">
      <div class="col-4">
        <h1>A Foot in the Door Without a Connection</h1>
        <p>Get the insider knowledge from a mentor to help you land your dream job.</p>
        <%= link_to "GET STARTED", new_user_registration_url, class: "btn btn-primary border-radius font-weight-bold" %>
      </div>
    </div>
  </div>
</div>

<!-- Our Mission Section -->
<br>
<div class="container">
  <div class="row justify-content-center">
    <div class="mission-banner">
      <div class="col-8">
        <div class="banner-titles">
        <h2>OUR MISSION</h2>
          </div>
        <h3>What we're all about</h3>
        <div class="mission-section">
          <p>MentorMatch aims to give everyone an equal opportunity to pursue a career they love early on by connecting students with mentors that can help them get there</p>
        </div>
      </div>
    </div>
  </div>
</div>

<!-- How It Works Section -->
<br>
<div class="container background-2">
  <div class="row justify-content-center">
    <div class="works-banner">
      <div class="col-8">
        <div class="banner-titles">
          <h2>HOW IT WORKS</h2>
        <h3>Connect with a mentor in three easy steps</h3>

  <div class="row">
    <div class="cards">
      <div class="card img1 col-md-4 m-2">
        <h3>SIGN UP & SELECT YOUR PREFERENCES</h3>
        <p>Create your free profile today and tell us a little bit about waht you are looking for in your mentor</p>
      </div>
      <div class="card img2 col-md-4 m-2">
        <h3>WAIT FOR OUR MATCH</h3>
        <p>We'll find you a mentor based on your preferences and pass along their contact details</p>
      </div>
      <div class="card img3 col-md-4 m-2">
        <h3>MEET UP & EXCHANGE</h3>
        <p>Arrange a time and place to learn more about your mentor and get all their valuable career insights!</p>
      </div>
    </div>
  </div>
</div>

        </div>
      </div>
    </div>
  </div>
</div>

</div>

<!-- Stories -->

<!-- Match Now -->

</body>
</html>
