

<div class="success-background success-info">
  <div class="container">
    <div class="row d-flex justify-content-center">

  <h1 class="main-success-header">We are working on finding you the best match!</h1>
        <%= image_tag "world", class: "world" %>
    </div>

    <div class="row d-flex justify-content-center success-text">
       <div class="col-8">
        <p>Hang tight. We'll let you know when a match has been made via email in 2-3 days. Remember to check your inbox! In the meantime, check out our tips on how to create better career connections. </p>
        </div>
        </div>

    <div class="row d-flex justify-content-center">

        <%= link_to "GET CAREER TIPS", tips_url, class: "btn btn-primary border-radius font-weight-bold" %>
        </div>

  </div>
</div>
</div>
