<div class="background layout alignment">
<h1 class="main">You Have Successfully Created <br> an Account!</h1><br>
<h2 class="button">Match Me Now!</h2><br>
<h3>Not ready? Update your profile and preferences</h3><br>
<h4 class= "fourth"> Back to Home</h4>
</div>
