<div class="background layout alignment">
  <div class="container">
    <div class="row">
      <div class="justify-content-center align-content-center Col-12 col-s-6">
        <%= image_tag "happymentee1", class: "happy mentee jumping" %>
        <h1 class="main">You Have Successfully Created an Account!</h1> <br>
        <h2 class="button">Match Me Now!</h2><br>
        <h3>Not ready?<u>Update your profile and preferences</u></h3><bR>
        <h4 class= "fourth"> <u>Back to Home</u></h4>
      </div>
    </div>
  </div>
</div>


<button>Open Modal</button>
<div class="modal" id="modal">
    </div class="modal-header">
    <div class="modal-body">
        <%= image_tag "xbutton", class: "xbutton" %>
        <%= image_tag "world", class: "world" %>
        <div class="title">We are working on finding you the best match!</div><br>
        <h5>Hang tight. You hill hear from us in 2-3 days by email. <br><br> 
            Remember to check your inbox!<br> In the meantime, check out our tips<br></h5>
        <h2 class="buttontwo">GET TIPS</h2><br>
    </div>
</div>
</div id="overlay"></div>