<div class="background layout alignment">
<%= image_tag "happymentee1", class: "happy mentee jumping" %>
<h1 class="main">You Have Successfully Created <br> an Account!</h1><br>
<h2 class="button">Match Me Now!</h2><br>
<h3>Not ready?<u>Update your profile and preferences</u></h3><br>
<h4 class= "fourth"> <u>Back to Home</u></h4>
</div>
