.alignment {
    padding: 250px;
}
.alignment h1 {
    font-size: 40px;
    font-weight: bold;
    color: white;
}

.alignment h2 {
    font-size: 19px;
    font-weight: bold;
    color: black;
}

.alignment h3 { 
    font-size: 15px;
    line-height: 18px;
    text-align: center;
}
.alignment h4 {
    color: #FFB800;
    font-size: 25px;
    line-height: 29px;
    text-align: center;
}