// Mentor or Mentee
.ta-center {
  text-align: center;
}
.fc-white {
  color: white;
}
.select-btn{
  color: black;
  font-weight: bold;
  font-size: 1.75rem;
  padding: 1rem;
  text-align: center;
}
.mentor_or_mentee_form {
  margin-top: 50px;
  display: flex;
  justify-content: center;
}
.cardMentor{
  margin: 0 56px 0 56px;
  text-decoration: none;
}
.cardMentee{
  margin: 0 56px 0 56px;
  text-decoration: none;
}
.main-banner .text-info li{
  text-align: initial;
  color: black;
  text-decoration: none;
}
.main-banner .text-info ul li{
  text-decoration: none;
}

.background-card{
  box-shadow: 0px 0px 34.6497px 8.66242px rgba(0, 0, 0, 0.05);
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 300px;
  border-radius: 25px;
  padding-top: 25px;
}

.blue-card{
  background: radial-gradient(96.96% 96.96% at 95.24% 3.04%, #707FD9 0%, #73B4FD 100%);
}

.orange-card{
  background: radial-gradient(96.96% 96.96% at 95.24% 3.04%, #FF8F3E 0%, #FFB800 100%);
}

.white-box {
  padding-top: 30px;
  padding-left: 5px;
  padding-right: 10px;
  border: 1px solid rgba(0, 0, 0, 0.3);
  background-color: white;
  height: 280px;
  width: 100%;
  border-radius: 25px;
  font-size: 15px;
  text-decoration: none;
}

.card-image{
  margin-bottom: 32px;
}
.mentor-card-image{
  margin: -21px 0px 30px 0;
}

.images-mentee{
  display: flex;
  flex-direction: column;
  align-items: center;
}
.images-mentor{
  display: flex;
  flex-direction: column;
  align-items: center;
}

.py-3 {
   color: black;
}

.text-update {
  text-decoration: none !important;
}

// Roles
.cards-display{
  display:grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-gap: 16px;
  padding:16px;
  flex-grow: 1;
  justify-content: center;
  margin-bottom: 40px;
  align-items: center;
  align-content: center;
}

.cards-display-2{
  display:grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-gap: 16px;
  padding:16px;
  flex-grow: 1;
  justify-content: center;
  margin-bottom: 40px;
  // align-items: center;
  margin-left: 45px;
  // align-content: center;
}

.role-card {
  margin: 20px;
}

.white-box-small {
  padding-top: 5px;
  padding-left: 5px;
  padding-right: 5px;
  border: 1px solid rgba(0, 0, 0, 0.3);
  background-color: white;
  height: 180px;
  width: 230px;
  border-radius: 25px;
  font-size: 15px;
  text-decoration: none;
}


.background-card-small{
  box-shadow: 0px 0px 34.6497px 8.66242px rgba(0, 0, 0, 0.05);
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 230px;
  height: 240px;
  border-radius: 25px;
  padding-top: 25px;
}


.card-image-small {
  width: 200px;
  height: auto;
  padding: 10px;
  padding-top: -10px;
}

.role-name-large{
  color: black;
  font-weight: bold;
  font-size: 1.4rem;
  padding: 1rem;
  text-align: center;
}

.role-name-large-active{
  color: white;
  font-weight: bold;
  font-size: 1.4rem;
  padding: 1rem;
  text-align: center;
}

.role-name-small{
  color: black;
  font-weight: bold;
  font-size: 1.2rem;
  padding: 1rem;
  text-align: center;
}

.role-name-small-active{
  color: white;
  font-weight: bold;
  font-size: 1.2rem;
  padding: 1rem;
  text-align: center;
}

// preferences cards
.card-image-small-2 {
  width: 200px;
  height: auto;
  padding: 10px;
  padding-top: 30px;
  padding-left: 25px;
}
