.steps-logo {
  display: flex;
  justify-content: center;
}

.steps-bar {
  display: flex;
  justify-content: center;
  padding: 20px;
}

.createaccount-section h2 {
  color: white;
  display: flex;
  justify-content: center;
}

.createaccount-section p {
  color: white;
  display: flex;
  justify-content: center;
}

.form-actions {
  display: flex;
  justify-content: center;
  align-content: center;
}

.login-text {
  display: flex;
  justify-content: center;
}

.hint {
  color: white;
}

// .form {
// }
