.signup-banner {
  background-image: radial-gradient(rgba(163,255,255,0.4),rgba(115,183,255,0.8),rgba(111,126,216,1)), url("coffee-banner.jpg");
  background-size: cover;
  background-position: right;
  padding: 80px;
  padding-bottom: 200px;
}


.steps-logo {
  display: flex;
  justify-content: center;
}

.steps-bar {
  display: flex;
  justify-content: center;
  padding: 20px;
}

.createaccount-section h2 {
  color: white;
  display: flex;
  justify-content: center;
}

.createaccount-section p {
  color: white;
  display: flex;
  justify-content: center;
}

.login-text {
  display: flex;
  justify-content: center;
  color: white;
}

.hint {
  color: white;
}

.existing-account {
  display:flex;
  justify-content: center;
}

.header-change h2, h5 {
  color: white;
  display: flex;
  justify-content: center;
}

.align-btn {
  display: flex;
  justify-content: center;
}

.align-form {
  display: flex;
  justify-content: center;
}

