.alignment {
    padding: 250px;
}
.alignment h1 {
    font-size: 40px;
    font-weight: bold;
    color: white;
}

.alignment h2 {
    font-size: 19px;
    font-weight: bold;
    color: black;
}

.alignment h3 { 
    font-size: 15px;
    line-height: 18px;
    text-align: center;
}
.alignment h4 {
    color: #FFB800;
    font-size: 25px;
    line-height: 29px;
    text-align: center;
}
.checkout {
    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    font-size: 12px;
    line-height: 14px;
    text-align: center;
}

.background {
    background-image: radial-gradient(rgba(163,255,255,0.4),rgba(115,183,255,0.8),rgba(111,126,216,1)), url("coffee-banner.jpg");
    background-size: cover;
    background-position: center;
  }
  
  .button {
    background-color: #FFB800; 
    border: none;
    color:black;
    font-family: Roboto;
    font-style: normal;
    font-weight: bold;
    font-size: 25px;
    line-height: 29px;
    text-align: center;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    border-radius: 8px;
  }

  .buttontwo {
    background-color: #FFB800; 
    border: none;
    color:black;
    font-family: Roboto;
    font-style: normal;
    font-weight: bold;
    line-height: 29px;
    text-align: center;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 25px;
    border-radius: 8px;
    width: 220px;
    height: 50px;
    left: 621px;
    top: 670px;
  }


.layout {
    text-align: center;
}

.world {
    width: 100%;
}

.modal {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    transition: 200ms ease-in-out;
    border: 1px solid orange;
    border-radius: 10px;
    z-index: 10;
    background-color: orange;
    width: 500px;
    max-width: 80%;
}

.modal-header {
    padding: 10px 15px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: 1pm solid orange;
}

.modal-header .title {
    font-size: 1.25rem;
    font-weight: bold;
}

.modal-header .close-button {
    cursor: pointer;
    border: none;
    outline: none;
    background: none;
    font-size: 1.25rem;
    font-weight: bold;
}

.modal-body {
    padding: 10px 50px;
    background-color: white;
    border-radius: 25px;
    width: 400px;
    font-family:"Roboto", "sans-serif";
    font-family: Roboto;
    font-style: normal;
    font-weight: bold;
    font-size: 30px;
    line-height: 35px;
    text-align: center;
    position: relative;
}

.xbutton {
    position: absolute;
    right: 12px;
    top: 12px;
}

#overlay {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: orange;
    pointer-events: none;
}

#overlay.active {
    opacity: 1;
    pointer-events: all;
}
