.alignment {
    padding: 250px;
}
.alignment h1 {
    font-size: 40px;
    font-weight: bold;
    color: white;
}

.alignment h2 {
    font-size: 19px;
    font-weight: bold;
    color: black;
}

.alignment h3 { 
    font-size: 15px;
    line-height: 18px;
    text-align: center;
}
.alignment h4 {
    color: #FFB800;
    font-size: 25px;
    line-height: 29px;
    text-align: center;
}
.checkout {
    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    font-size: 12px;
    line-height: 14px;
    text-align: center;
}

.background {
    background-image: radial-gradient(rgba(163,255,255,0.4),rgba(115,183,255,0.8),rgba(111,126,216,1)), url("coffee-banner.jpg");
    background-size: cover;
    background-position: center;
  }
  
  .button {
    background-color: #FFB800; 
    border: none;
    color:black;
    font-family: Roboto;
    font-style: normal;
    font-weight: bold;
    font-size: 25px;
    line-height: 29px;
    text-align: center;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    border-radius: 8px;
  }

  .buttontwo {
    background-color: #FFB800; 
    border: none;
    color:black;
    font-family: Roboto;
    font-style: normal;
    font-weight: bold;
    line-height: 29px;
    text-align: center;
    padding: 10px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 25px;
    border-radius: 8px;
    width: 220px;
    height: 50px;
    position: absolute;
    top: 530px;
    left: 121px;
  }


.layout {
    text-align: center;
}

.world {
    width: 100%;
}

.modal-header .close-button {
    cursor: pointer;
    border: none;
    outline: none;
    background: none;
    font-size: 1.25rem;
    font-weight: bold;
}

.modal-body {
    padding: 10px 50px;
    background-color: white;
    border-radius: 25px;
    width: 440px;
    height: 600px;
    font-family:"Roboto", "sans-serif";
    font-family: Roboto;
    font-style: normal;
    font-weight: bold;
    font-size: 30px;
    line-height: 35px;
    text-align: center;
    position: relative;
}

.xbutton {
    position: absolute;
    right: 12px;
    top: 12px;
}

// CSS for Tips page

/* Fonts and colors */
body {
    color: #494949;
    font-size: 18px;
    line-height: 1.6;
    font-weight: lighter;
    font-family: 'Lora', serif;
    margin: 0;
  }
  h1, h2 {
    font-family: 'Montserrat', sans-serif;
    font-weight: bold;
  }
  h2 {
    color: #A0A0A0;
    font-weight: normal;
  }
  a {
    text-decoration: none;
    color: #4352A1;
  }
  
  /* Custom design */
  .banner {
    background-image: url("http://unsplash.it/1000/500");
    background-size: cover;
    color: white;
    padding: 120px 0;
  }
  .banner h1 {
    font-size: 38px;
  }
  .banner p {
    font-size: 30px;
    font-style: italic;
    font-weight: lighter;
    opacity: 0.8;
  }
  .container {
    width: 700px;
    margin: 50px auto;
  }
  .link-medium {
    background-image: linear-gradient(to bottom, rgba(233, 253, 240, 1), rgba(233, 253, 240, 1));
    color: #636363;
    font-weight: lighter;
    font-size: 25px;
    font-style: italic;
  }
  .link-medium:hover {
    background-image: linear-gradient(to bottom, rgba(125, 255, 179, 1), rgba(125, 255, 179, 1));}
  }
  
  /* Media queries */
  @media(max-width: 900px) {
    .container {
      width: 700px;
    }
  }
  @media(max-width: 750px) {
    .container {
      width: 450px;
    }
  }
  @media(max-width: 500px) {
    .container {
      width: 350px;
    }
    .banner {
      padding: 50px 0;
    }
    .banner h1 {
      font-size: 30px;
    }
    .banner p {
      font-size: 20px;
    }
  }

