// Confirmation Page (Create an Account)
.success-background {
  background: linear-gradient(182.57deg, #6F7ED8 11.52%, rgba(115, 183, 255, 0.81) 76.4%, #A3FFFF 106.81%);
  background-size: cover;
  background-position: right;
  padding: 80px;
  padding-bottom: 250px;
}

.success-container{
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.main-success-header {
  font-size: 40px;
  font-weight: bold;
  color: white;
  margin: 50px 0 50px 0;
  padding: 0 325px;
}

.container-not-ready{
  margin: 20px 0;
  display: flex;
}

.update-btn {
  padding-left: 8px;
  color: black;
  font-size: 15px;
  text-decoration: underline;
}

.happy-mentee {
  width: 300px;
  height: 250px;
  margin-bottom: 20px;
}



.background h3 {
    background-image: radial-gradient(rgba(163,255,255,1),rgba(115,183,255,0.8),rgba(111,126,216,1)), url("coffee-banner.jpg");
    background-size: cover;
    background-position: center;
  }

.success-container h3 {
  color: white;
  font-size: 15px;
  padding: 5px;
}

.back-home {
  color: $dark-blue;
  text-decoration: none;
}

.btn-margin {
  margin: 10px;
}

// Success Page (for Adding in a Match)

.world {
  width: 250px;
  height: auto;
  margin-bottom: 50px;
}

.success-info {
  text-align: center;
}

.success-text p {
  color: white;
  font-size: 15px;
  padding: 5px;
}



