.login-banner {
  background-image: radial-gradient(rgba(163,255,255,0.4),rgba(115,183,255,0.8),rgba(111,126,216,1)), url("coffee-banner.jpg");
  background-size: cover;
  background-position: right;
  padding: 200px;
  padding-bottom: 300px;
}

.text-align {
  text-align: center;
  margin: 10px;
  color: white;
}

.btn-small {
  width: 200px;
  height: auto;
}
