.navbar {
  justify-content: space-around;
  background: white;
  margin: 30px;
  border-radius: 10px;
  position: absolute;
  left: 30px;
  top: 30px;
  right: 30px;
  z-index: 3;
}

.navbar .navbar-collapse {
  flex-grow: 0;
}

.navbar a {
  color: $black;
  font-weight: 100;

}

.navbar a:hover {
    color: $orange-yellow;
    text-decoration: none;
  }


.logo {
  width: 200px;
}

.margin-right-navbar {
  margin-right: 10px;
}

// sidenav
.sidenav {
  height: 100%;
  width: 200px;
  position: relative;
  top: 0;
  left: -140px;
  padding-top: 20px;
}

.sidenav ul {
  list-style-type: none;
}

.sidenav a:hover {
  color: white;
  text-decoration: none;
}


/* Page content */
.main {
  margin-left: 200px; /* Same as the width of the sidenav */
}
