.tips-banner {
    width: 100%;
    height: 300px;
     border-radius: 25px;
  }

  .tipscontainer {
      padding: 50px;
  }

  .tips-text {
    color: white;
  }

  .tips-text h2 {
    font-size: 26px;
    color: $orange-yellow;
  }

  .tip-img {
    border-radius: 25px;
    width: 450px;
    height: 300px;
    padding: 10px;
    margin-right: 400px;
  }
