.tips-background {
    background: linear-gradient(182.57deg, #6F7ED8 11.52%, rgba(115, 183, 255, 0.81) 76.4%, #A3FFFF 106.81%);
    width: 140%;
  }

  .tipscontainer {
      padding: 50px; 
  }

  .img {
    border-radius: 8px;
    width: 300px;
  }
  